@charset "utf -8";

body{
    font-family: Tohoma;
    font-size: 13px;    
    width: 1024px;
    margin: auto;
    
    background-color: #46dacd;
    
    /*
    background-image: url("./20-11-chu-hoai-niem581c3ebe090df.jpg");
    */
}
/*
#tieude{
    background: #cccccc;
    height: 50px;
    text-align: center;
}
*/
#phongnen{
    background: #cec54f; 
    width: 1000px;
    height:550px;
    margin: auto;
    float: left;
}
#phongnen img{
    margin: auto;
    position: absolute;
}
#bithu img{
    position: absolute;
    margin-left: 200px;
}
#bang img{
    margin-left: 480px;
}

#chuchuc img{
    margin-left: -30px;
}
#caynen img{
    margin-top: 320px;
    margin-left: -60px;
}
#book img{
    margin-left: 640px;
    margin-top: 280px;
}
#lathu img{
    margin-left: 250px;
    margin-top: 20px;
}
#lathu span{
    margin-left: 400px;
    margin-top: 250px;
    position: absolute;
    color: red;
}
/*
#bithu img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    position: absolute;
}

#bithu lathu{
    background: #327832;
    width: 800px;
    height: 350px;
    left: 300px;
    
}

#lathu span h2{
    position: absolute;
    font-size: 35px;
    left: 560px;
    top: 230px;
    color: red;
}
*/
/*
#lathu h2{
    position: absolute;
    left: 560px;
    top: 230px;
    color: red;
}
*/
/*
#lathu img{
    margin-left: 130px;
}
*/

/*
#abc{
    width: 400px;
    height: 500 px;
    background-color: #F3EEA2;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
*/